<meta charset="UTF-8">

<div class="container-fluid">
	<div class="panel panel-success">
		<div class="panel-heading"></div>
		<div class="panel-body">
	
	
<form novalidate="novalidate" name="reg" >
<table>
<tr><td>Ime i prezime: </td>
<td><input class="textbox" type="text" id="ime"  ng-model="clan.ime" required><br>
<span  ng-show="reg.ime.$invalid && reg.ime.$dirty">Unersite ime </span>

</td>
<td><input class="textbox" type="text"  ng-model="clan.prezime" required></td> 
</tr>
<tr><td>E-mail:</td>
<td colspan="2"><input class="textbox" type="text"  ng-model="clan.email" required ></td>
</tr>
<tr><td>Adresa i broj: </td>
<td><input class="textbox" type="text"  ng-model="clan.adresa" required ></td>
<td><input class="textbox" type="text"  ng-model="clan.broj" required ></td> 
</tr>
<tr><td>Država: </td>
<td colspan="2"><select class="option" title="Izaberi drzavu"  ng-model="clan.drzava" required > 

<option value="srbija">Srbija
<option value="bih">BiH
<option value="crnagora">Crna Gora
<option value="makedonija">Makedonija

</select>   </td>
</tr>

<tr><td>Opština: </td>
<td colspan="2"><input class="textbox" type="text"  ng-model="clan.opstina" required ></td>
</tr>
<tr><td>Mobilni telefon: </td>
<td colspan="2"><input class="textbox" type="text"  ng-model="clan.mobilni_telefon" required ></td>
</tr>
<tr><td>Datum rođenja: </td>
<td>
<input class="textbox" type="text"  ng-model="clan.datum_rodjenja" required ></td>

</tr>
<tr><td>Pol: </td>
<td colspan="2"><input  type="radio" ng-model="clan.pol"  value="muski">Muški <input  type="radio" ng-model="clan.pol"  value="zenski">Ženski</td>
 
</tr>
<tr><td>Izaberite korisničko ime: </td>
<td colspan="3"><input class="textbox" type="text"  ng-model="clan.username" required ></td>

</tr>
<tr><td>Unesite željenu šifru: </td>
<td colspan="3"><input class="textbox"  type="password" ng-model="clan.password" required > </td>
</tr>

<tr><td>Da li prihvatate uslove korišćenja: </td>
<td colspan="3"><input type="checkbox"  value="ok" > </td>
</tr>
<tr><td colspan="3"><a ng-disabled="reg.$invalid" ng-click="registracija()" class="btn btn-small btn-success">Registracija </a>  </td>

</tr>
 </table>



</form>

		</div>
	</div>




</div>